@use 'sass:color';

$app-bg: #c8c0c2;
$primary: #b5112f;
$accent: #2d3047;

$primary-light: color.adjust($primary, $lightness: 25%);
$primary-mid-light: color.adjust($primary, $lightness: 10%);
$primary-mid-dark: color.adjust($primary, $lightness: -10%);
$primary-dark: color.adjust($primary, $lightness: -25%);

$accent-light: color.adjust($accent, $lightness: 25%);
$accent-mid-light: color.adjust($accent, $lightness: 10%);
$accent-mid-dark: color.adjust($accent, $lightness: -10%);
$accent-dark: color.adjust($accent, $lightness: -25%);
